<div class="signup">
<h2>Sign up</h2>
<div class="devise-box">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <!-- <%= devise_error_messages! %> -->
    <%#= devise_error! %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autocomplete: "off" %>
      <div class="display-error"><%= display_error_user(:name) %></div>
    </div>

    <div class="display-inline-flex signup-location">
      <div class="field city-field">
        <%= f.label :city %>
        <%= f.text_field :city, autocomplete: "off" %>
      </div>

      <div class="field state_selector">
        <%= f.label :state %>
        <%= f.select(:state, options_for_select([["Select", ""], ["AL", "AL"], ["AK", "AK"], ["AZ", "AZ"], ["AR", "AR"], ["CA", "CA"], ["CO", "CO"], ["CT", "CT"], ["DE", "DE"], ["FL", "FL"],  ["GA", "GA"], ["HI", "HI"], ["ID", "ID"], ["IL", "IL"], ["IN", "IN"], ["IA", "IA"], ["KS", "KS"], ["KY", "KY"], ["LA", "LA"], ["ME", "ME"], ["MD", "MD"], ["MA", "MA"], ["MI", "MI"], ["MN", "MN"], ["MS", "MS"], ["MO", "MO"], ["MT", "MT"], ["NE", "NE"], ["NV", "NV"], ["NH", "NH"], ["NJ", "NJ"], ["NM", "NM"], ["NY", "NY"], ["NC", "NC"], ["ND", "ND"], ["OH", "OH"], ["OK", "OK"], ["OR", "OR"], ["PA", "PA"], ["RI", "RI"], ["SC", "SC"], ["SD", "SD"], ["TN", "TN"], ["TX", "TX"], ["UT", "UT"], ["VT", "VT"], ["VA", "VA"], ["WA", "WA"], ["WV", "WV"], ["WI", "WI"], ["WY", "WY"]
        ])) %> <br>
      </div>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
      <div class="display-error"><%= display_error_user(:email) %></div>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <div class="display-error"><%= display_error_user(:password) %></div>
    </div>

    <div class="field">
      <%= f.label :confirm_password %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field image-upload">
      <p class="img-label">Upload a profile image</p>
      <%= f.file_field :image %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-sm btn-login" %>
    </div>
  <% end %>
  <div class="loginlinks">
  <%= link_to "Already have an account? Log in >>", new_session_path(resource_name), id: "hasacct" %>
  <%= render "devise/shared/links" %>
</div>
</div>
</div>
