<h2>Sign up</h2>
<div class="devise-box">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city, autocomplete: "off" %>
    </div>

    <div class="field state_selector">
      <%= f.label :state %>
      <%= select_tag(:state, options_for_select([["AL", 1], ["AK", 2], ["AZ", 3], ["AR", 4], ["CA", 5], ["CO", 6], ["CT", 7], ["DE", 8], ["FL", 9],  ["GA", 10], ["HI", 11], ["ID", 12], ["IL", 13], ["IN", 14], ["IA", 15], ["KS", 16], ["KY", 17], ["LA", 18], ["ME", 19], ["MD", 20], ["MA", 21], ["MI", 22], ["MN", 23], ["MS", 24], ["MO", 25], ["MT", 26], ["NE", 27], ["NV", 28], ["NH", 29], ["NJ", 30], ["NM", 31], ["NY", 32], ["NC", 33], ["ND", 34], ["OH", 35], ["OK", 36], ["OR", 37], ["PA", 38], ["RI", 39], ["SC", 40], ["SD", 41], ["TN", 42], ["TX", 43], ["UT", 44], ["VT", 45], ["VA", 46], ["WA", 47], ["WV", 48], ["WI", 49], ["WY", 50]
      ])) %><br>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <!-- <div class="field">
      <%= f.label :role %>
      <%= select_tag(:role, options_for_select([['Volunteer', 1], ['Organizer', 2]], 1)) %>
    </div>

    <div class="field", id="org_selector">
      <%= f.label :organization %>
      <%= select_tag(:organization, options_for_select( Organization.all.map do |org|
        [org.name, org.id]
      end), {prompt: '- Select One -'}) %><br>

    <%= link_to 'Or create a new organization', new_organization_path %>
    </div><br> -->


    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-sm btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
