<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <span class="breadcrumb-item active"> > Sign up</span>
</nav>

<h2>Sign up</h2>
<div class="devise-box">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <%#= devise_error! %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autocomplete: "off" %>
      <!-- <div class="display-error">< display_error(:name) ></div> -->
    </div>

    <div class="display-inline-flex">
      <div class="field" id="city-field">
        <%= f.label :city %>
        <%= f.text_field :city, autocomplete: "off" %>
      </div>

      <div class="field state_selector">
        <%= f.label :state %>
        <%= f.select(:state, options_for_select([["AL", "AL"], ["AK", "AK"], ["AZ", "AZ"], ["AR", "AR"], ["CA", "CA"], ["CO", "CO"], ["CT", "CT"], ["DE", "DE"], ["FL", "FL"],  ["GA", "GA"], ["HI", "HI"], ["ID", "ID"], ["IL", "IL"], ["IN", "IN"], ["IA", "IA"], ["KS", "KS"], ["KY", "KY"], ["LA", "LA"], ["ME", "ME"], ["MD", "MD"], ["MA", "MA"], ["MI", "MI"], ["MN", "MN"], ["MS", "MS"], ["MO", "MO"], ["MT", "MT"], ["NE", "NE"], ["NV", "NV"], ["NH", "NH"], ["NJ", "NJ"], ["NM", "NM"], ["NY", "NY"], ["NC", "NC"], ["ND", "ND"], ["OH", "OH"], ["OK", "OK"], ["OR", "OR"], ["PA", "PA"], ["RI", "RI"], ["SC", "SC"], ["SD", "SD"], ["TN", "TN"], ["TX", "TX"], ["UT", "UT"], ["VT", "VT"], ["VA", "VA"], ["WA", "WA"], ["WV", "WV"], ["WI", "WI"], ["WY", "WY"]
        ])) %> <br>
      </div>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
      <!-- <div class="display-error">< display_error(:email) ></div> -->
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <!-- <div class="display-error">< display_error(:password) ></div> -->
    </div>

    <div class="field">
      <%= f.label :confirm_password %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.file_field :image %>
    </div>

    <!-- <div class="field">
      <%= f.label :role %>
      <%= select_tag(:role, options_for_select([['Volunteer', 1], ['Organizer', 2]], 1)) %>
    </div>

    <div class="field", id="org_selector">
      <%= f.label :organization %>
      <%= select_tag(:organization, options_for_select( Organization.all.map do |org|
        [org.name, org.id]
      end), {prompt: '- Select One -'}) %><br>

    <%= link_to 'Or create a new organization', new_organization_path %>
    </div><br> -->


    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-sm btn-info" %>
    </div>
  <% end %>
  <%= link_to "Already have an account? Log in", new_session_path(resource_name) %><br><br />
  <%= render "devise/shared/links" %>
</div>
