<h1>Admin Console</h1>
<div class="table-responsive">
  <table class="table" id="admin-user-table">
    <caption>All Users</caption>
        <tr>
          <th>Avatar</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
    <tbody>
    <% @users.order(:email).each do |user| %>
      <tr>
        <td><%= link_to image_tag(user.image.url(:small)), user_path(user) %></td>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.roles.order(:name).pluck(:name).map(&:capitalize).join(", ") %>
        </td>
        <td>
          <%= form_tag("/admin/" + user.id.to_s + "?role=admin", method: :PUT) do %>
            <input type="submit" value="Make Admin" class="btn btn-info btn-sm"/>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
