<% content_for(:body_attributes) do %>
   data-no-turbolink="true"
 <% end %>

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <span class="breadcrumb-item active"> / My Profile</span>
</nav>

<p class="success"><%= success %></p>
  <div class="row">
    <div class="col-md-5">
      <h1 class="hi-user">Hi <%= @user.name %>!</h1>
      <div class="user-img">
        <%= image_tag(@user.image.url(:large)) %>
      </div>
      <div class="user-info">
        <p>
        <span class="glyphicon glyphicon-envelope"></span> <%= @user.email %>
        </p>
        <% if !@user.city.nil? && !@user.state.nil? %>
          <p>
          <span class="glyphicon glyphicon-map-marker"></span> <%= @user.city + ' ' + @user.state %>
          </p>
        <% end %>
        <p>
        My Roles:
        <%= @user.roles.pluck(:name).map(&:capitalize).join(", ") %>
        </p>
        <p>
        My Organizations:
        <%= safe_join(@user.organizations.map {|organization| link_to organization.name, organization_path(organization)}, (", ").html_safe) %>
        </p>
      </div>
      <% if current_user.id.to_s == params[:id] %>
        <p>
        <%= link_to 'My Settings', edit_user_registration_path, class: "btn btn-xs btn-info" %>
        </p>
    </div><!--ends col-md-4-->

    <div class="col-md-7">
      <ul class="nav nav-tabs" id="user-tabs">
        <li class="active"><a data-toggle="tab" href="#calendar">Calendar</a></li>
        <li id="map-tab"><a data-toggle="tab" href="#user_map"> Map</a></li>
      </ul>
      <div class="tab-content">
        <div id="calendar" class="tab-pane fade in active"></div>
        <div id="user_map"  data-event-id="<%= @events %>" class="tab-pane fade"></div>
      </div>

      <input id="user_id" type="hidden" value="<%= @user.id %>"/>
    </div> <!--ends col-md-8-->
  </div> <!--ends row-->

  <h3>Recommended for You</h3>

  <div class="recommended">
    <% @cause_list.each do |cause| %>
        <p style="font-size: 1.2em;"><%= link_to Event.find(cause.id).name, Event.find(cause.id) %> -hosted by-
        <%= link_to Event.find(cause.id).organization.name, Event.find(cause.id).organization %>
        <%= " to benefit #{Event.find(cause.id).cause}" %></p>
    <% end %>
  </div>

  <!-- Begin Events Table -->
  <div class="table-responsive" id="events-list">
    <%= render(
      partial: 'users/list',
      locals: { events: @events }
    ) %>
  </div>


<% end %>
