<% content_for(:body_attributes) do %>
   data-no-turbolink="true"
 <% end %>

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <span class="breadcrumb-item active"> / My Profile</span>
</nav>

<!-- <p class="success"><%= success %></p> -->
<div class="row">
  <div class="col-md-3">
    <h1 class="hi-user"><%= @user.name.split(" ")[0] %></h1>

    <h3><div class="user-img">
      <%= image_tag(@user.image.url(:med)) %>
    </div></h3>
    <div class="user-info">
      <p><span class="glyphicon glyphicon-envelope"></span> <%= @user.email %></p>
      <% if !@user.city.nil? && !@user.state.nil? %>
        <p><span class="glyphicon glyphicon-map-marker"></span> <%= @user.city + ' ' + @user.state %></p>
      <% end %>
      <% if current_user.id.to_s == params[:id] %>
        <p><%= link_to 'My Settings', edit_user_registration_path, class: "btn btn-sm btn-info" %></p><br>
      <% end %>
    </div>

  </div><!--ends col-md-4-->
    <div class="col-md-5">
      <% if current_user.id.to_s == params[:id] %>
      <div class="space-block-85"></div>
      <h5>Recommended Events!</h5>

      <div class="recommended">
        <% @cause_list.each do |cause| %>
          <p style="font-size: 1em;"><span class="glyphicon glyphicon-chevron-right"></span> <%= link_to Event.find(cause.id).name, Event.find(cause.id) %> by
          <%= link_to Event.find(cause.id).organization.name, Event.find(cause.id).organization %>
          <%= " to benefit #{Event.find(cause.id).cause}" %></p>
        <% end %>
      </div>

      <h5>My Organizations:</h5>
      <% if @user.organizations.any? %>
        <% @user.organizations.order(:name).each do |org| %>
          <div class="org-box">
            <div><%= link_to image_tag(org.image.url(:med)), organization_path(org)%></div>
            <div class="org-name"><%= link_to org.name, organization_path(org)%></div>
          </div>
        <% end %>
      <% else %>
        <%= link_to "Join an organization!", organizations_path, class: "btn btn-primary" %>
      <% end %>

    </div>

    <div class="col-md-4">
      <div class="space-block-85"></div>
      <ul class="nav nav-tabs" id="user-tabs">
        <li class="active"><a data-toggle="tab" href="#calendar">Calendar</a></li>
        <li id="map-tab"><a data-toggle="tab" href="#user_map"> Map</a></li>
      </ul>
      <div class="tab-content">
        <div id="calendar" class="tab-pane fade in active"></div>
        <div id="user_map"  data-event-id="<%= @events %>" class="tab-pane fade"></div>
      </div>

      <input id="user_id" type="hidden" value="<%= @user.id %>"/>
    </div> <!--ends col-md-8-->
</div> <!--ends row-->
  <div class="space-block-30"></div>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#upcoming-events">Upcoming Events</a>

    </li>
    <li><a data-toggle="tab" href="#past_events">Past Events</a>

    </li>
  </ul>
  <div class="tab-content">
    <div id="upcoming-events" class="tab-pane fade in active">
      <div class="table-responsive" id="events-list">
        <%= render(
          partial: 'users/list',
          locals: { events: @events }
        ) %>
      </div>
    </div>
    <div id="past_events"  class="tab-pane fade">
        <div class="table-responsive" id="events-list">
          <%= render(
            partial: 'users/list',
            locals: { events: @past_events }
          ) %>
        </div>
    </div>
  </div>

<% end %>
