<% content_for(:body_attributes) do %>
   data-no-turbolink="false"
 <% end %>

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <span class="breadcrumb-item active"> / My Profile</span>
</nav>

<p class="success"><%= success %></p>
  <div class="row">
    <div class="col-md-5">
      <h1 class="hi-user">Hi <%= @user.name %>!</h1>
      <div class="user-img">
        <%= image_tag(@user.image.url(:large)) %>
      </div>
      <div class="user-info">
        <p>
        <span class="glyphicon glyphicon-envelope"></span> <%= @user.email %>
        </p>
        <% if !@user.city.nil? && !@user.state.nil? %>
          <p>
          <span class="glyphicon glyphicon-map-marker"></span> <%= @user.city + ' ' + @user.state %>
          </p>
        <% end %>
        <p>
        My Roles:
        <%= @user.roles.pluck(:name).map(&:capitalize).join(", ") %>
        </p>
        <p>
        My Organizations:
        <%= safe_join(@user.organizations.map {|organization| link_to organization.name, organization_path(organization)}, (", ").html_safe) %>
        </p>
      </div>
      <% if current_user.id.to_s == params[:id] %>
        <p>
        <%= link_to 'Account Settings', edit_user_registration_path, class: "btn btn-xs btn-info" %>
        </p>
    </div><!--ends col-md-4-->

    <div class="col-md-7">
      <ul class="nav nav-tabs" id="user-tabs">
        <li class="active"><a data-toggle="tab" href="#calendar">Calendar</a></li>
        <li><a data-toggle="tab" href="#user_map" id="map-tab"> Map</a></li>
      </ul>
      <div class="tab-content">
        <div id="calendar" class="tab-pane fade in active"></div>
        <div id="user_map"  data-event-id="<%= @events %>" class="tab-pane fade"></div>
      </div>

      <input id="user_id" type="hidden" value="<%= @user.id %>"/>
    </div> <!--ends col-md-8-->
  </div> <!--ends row-->

  <!--use hidden to pass through the model and so it dosen't show up on the page(why it's hidden)  -->

  <!-- Begin Events Table -->
  <div class="table-responsive">
    <table class="table" id="user-events-table">
      <caption>Your Upcoming Events</caption>
        <% if @events.length == 0 %>
          <tr>
            <td>
              <p id="noevents">You aren't currently signed up for any events...</p><br>
              <%= link_to "Volunteer now!", events_path, class: "btn btn-lg btn-primary" %><br><br>
            </td>
          </tr>
        <% else %>
        <thead>
          <tr>
            <th>Event</th>
            <th>Organization</th>
            <th>Date and Time</th>
            <th>Date Location</th>
            <th>Can't Make It?</th>
          </tr>
        </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td>
              <strong><%= link_to event.name, event %></strong><br>
            </td>
            <td>
              <%= link_to event.organization.name, organization_path(event.organization) %>
            </td>
            <td>
                <span class="glyphicon glyphicon-time"></span>
                <%= event.start_time.strftime("%b %e, %Y")%><br>
                <%= event.start_time.strftime("%l:%M %p") %> -
                <%= event.end_time.strftime("%l:%M %p") %><br>
                (<%= ((event.end_time-event.start_time)/3600).round(1)  %> hours)
            </td>
            <td>
                <span class="glyphicon glyphicon-map-marker"></span>
                <%= event.street %><br>
                <%= event.city %>,
                <%= event.state %>
                <%= event.postal_code %>
                <%= event.country %>
            </td>
            <% if user_signed_in? %>
              <% if current_user.events.all.include?(Event.find(event.id)) %>
                <% if (current_user.user_events.where(event_id: event.id, waitlist: nil).length > 0) %>
                  <td><%= link_to "Cancel Your RSVP",
                    event_remove_event_path(current_user.id) + "?event=" +
                    event.id.to_s, method: :delete, class: "btn btn-xs btn-danger" %>
                  </td>
                <% else %>
                  <td><%= link_to "Remove From Waitlist",
                    event_remove_event_path(current_user.id) + "?event=" +
                    event.id.to_s, method: :delete, class: "btn btn-xs btn-warning" %>
                  </td>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>


<% end %>
