<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <span class="breadcrumb-item active"> > Events</span>
</nav>

<div class="row">
  <p id="notice"><%= notice %></p>
</div>

<div class="row">
  <div class="col-md-8">
    <h1 class= "vertical-align">Events</h1>
    <h1><%= @z %></h1>
  </div>
  <div class="col-md-4 text-right" id="search-bar">
    <%= form_for_filterrific @filterrific do |f| %>
      <div>
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <span class="glyphicon glyphicon-search"></span>
        <%= f.text_field(
          :search_query, placeholder: "Search events",
          class: 'filterrific-periodically-observed'
        ) %>
      </div><br>
      <div>
      <%= f.fields_for :with_distance do |with_distance_fields| %>
        <%= with_distance_fields.text_field :zip %>
        <%= with_distance_fields.text_field :max_distance %>
      <% end %>
      </div>
      <div>
        Sort by
        <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
      </div><br>
      <div>
        <%= link_to(
          'Reset search',
          reset_filterrific_url,
        ) %>
        <%= f.submit 'Search', class: "btn btn-primary btn-xs"%>
      </div>
      <%= render_filterrific_spinner %>
    <% end %>
  </div>
</div>

<br>

<%= render(
  partial: 'events/list',
  locals: { events: @events }
) %>

<br>

<% if @ability.can? :new, Event %>
  <%= link_to 'New Event', new_event_path, class: "btn btn-sm btn-primary" %>
<% end %>


<div id="events_map" class="center-block" data-events-id="<%=@events%>"></div>

<!-- <script>
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
</script> -->
