<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <span class="breadcrumb-item active"> / Events</span>
</nav>

<div class="row">
  <p id="notice"><%= notice %></p>
</div>


<div class="row">
  <div class="col-md-8">
    <h1 class= "vertical-align">Events</h1>
  </div>
</div>

<div class="well">
  <div class="row"
    <%= form_for_filterrific @filterrific do |f| %>
      <div class="col-lg-4">
        <div class="inner-addon left-addon">
          <i class="glyphicon glyphicon-search"></i>
          <span class="glyphicon glyphicon-search"></span>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :search_query, placeholder: "Search events",
            class: 'filterrific-periodically-observed'
          ) %>
        </div>
      </div>

      <div class="col-lg-8">
        <%= f.fields_for :with_distance do |with_distance_fields| %>
          <%= with_distance_fields.text_field :zip, placeholder: 'Zip code' %>
          <!-- <div class="dropdown"> -->
            <%= with_distance_fields.select(:max_distance, [['5 miles', 5], ['10 miles', 10], ['15 miles', 15], ['25 miles', 25], ['50 miles', 50]]) %>
          <!-- </div> -->
        <% end %>
        <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
        <span class="input-group-btn">
          <%= f.submit 'Search', class: "btn btn-secondary btn-sm"%>
          <%= link_to('Reset Search', reset_filterrific_url, class: "btn btn-danger btn-sm") %>
          <%= render_filterrific_spinner %>
        </span>
      </div>

    <% end %>
  </div>
</div>

<br>

<%= render(
  partial: 'events/list',
  locals: { events: @events }
) %>

<br>

<% if @ability.can? :new, Event %>
  <%= link_to 'New Event', new_event_path, class: "btn btn-sm btn-primary" %>
<% end %>


<div id="events_map" class="center-block" data-events-id="<%=@events%>"
  data-zip="<%= @zip %>"
  data-distance="<%= @max_distance %>"
  data-search="<%= @search %>"></div>

<!-- <script>
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
</script> -->
