<div class="row">
  <div class="col-md-8">
    <h1 class= "vertical-align">Events</h1>
  </div>
  <div class="col-md-4 text-right" id="search-bar">
    <%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
      <div>Search 
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field(
          :search_query,
          class: 'filterrific-periodically-observed'
        ) %>
        <%= f.submit 'Search' %>
      </div>
      <div>
        <br>
        Advanced Filters
      </div>
      <!-- <div>
        From
        <%= f.text_field(:with_start_time, class: 'js-datepicker form-control') %>
      </div>
      <div>
        To
        <%= f.text_field(:with_end_time, class: 'js-datepicker form-control') %>
      </div>
      <script>
      $('.js-datepicker').datepicker();
      $('#overlayTrigger').click(function(event) {
        event.preventDefault();
        $('body').chardinJs('start');
      });
      </script> -->
      <div>
        Sort by
        <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
      </div>
      <div>
        <%= link_to(
          'Reset filters',
          reset_filterrific_url,
        ) %>
      </div>
      <%= render_filterrific_spinner %>
    <% end %>
  </div>
</div>

<div class="row">
  <p id="notice"><%= notice %></p>
</div>

<%= render(
  partial: 'events/list',
  locals: { events: @events }
) %>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Event', new_event_path, class: "btn btn-sm btn-primary" %>
<% end %>
