<div class="row">
  <p id="notice"><%= notice %></p>
</div>

<div class="row">
  <div class="col-md-8">
    <h1 class= "vertical-align">Events</h1>
  </div>
  <div class="col-md-4 text-right" id="search-bar">
    <%= form_for_filterrific @filterrific do |f| %>
      <div>
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field(
          :search_query,
          class: 'filterrific-periodically-observed'
        ) %>
      </div>
      <!-- <div>
        From
        <%= f.text_field(:with_start_time, class: 'js-datepicker form-control') %>
      </div>
      <div>
        To
        <%= f.text_field(:with_end_time, class: 'js-datepicker form-control') %>
      </div>
      <script>
      $('.js-datepicker').datepicker();
      $('#overlayTrigger').click(function(event) {
        event.preventDefault();
        $('body').chardinJs('start');
      });
      </script> -->
      <div>
        Sort by
        <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
      </div>
      <div>
        <%= link_to(
          'Reset filters',
          reset_filterrific_url,
        ) %>
        <%= f.submit 'Search' %>
      </div>
      <%= render_filterrific_spinner %>
    <% end %>
  </div>
</div>
<br>

<%= render(
  partial: 'events/list',
  locals: { events: @events }
) %>

<br>

<% if @ability.can? :new, Event %>
  <%= link_to 'New Event', new_event_path, class: "btn btn-sm btn-primary" %>
<% end %>


<div id="events_map" class="center-block" data-events-id="<%=@events%>"></div>

<!-- <script>
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
</script> -->
