<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Event Info</th>
      <th>Cause</th>
      <th>Date and Time</th>
      <th>Event Location</th>
      <th>Volunteers Needed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
          <strong><%= link_to event.name, event %></strong><br><br>
          <%= event.description %><br><br>
          <%= link_to 'Edit', edit_event_path(event), class: "btn btn-xs btn-info" %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger"%>
        </td>
        <td><%= event.cause %></td>
        <td>
          <%= event.start_time.strftime("%b %e, %Y")%><br>
          <%= event.start_time.strftime("%l:%M %p") %> -
          <%= event.end_time.strftime("%l:%M %p") %><br>
          (<%= ((event.end_time-event.start_time)/3600).round(1)  %> hours)
        </td>
        <td>
          <%= event.street %><br>
          <%= event.city %>,
          <%= event.state %>
          <%= event.postal_code %>
          <%= event.country %>
        </td>
        <td><%= event.volunteers_needed %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path, class: "btn btn-sm btn-primary" %>
