<p id="notice"><%= notice %></p>

<h3>
  <strong><%= @event.name %></strong>
</h3><hr>

<p>
  <strong>Description:</strong><br>
  <%= @event.description %>
</p>

<p>
  <strong>Cause:</strong><br>
  <%= @event.cause %>
</p>

<p>
  <strong>Date and Time:</strong><br>
  <%= @event.start_time.strftime("%b %e, %Y ") %><br>
  <%= @event.start_time.strftime("%l:%M %p") %> -
  <%= @event.end_time.strftime("%l:%M %p") %>
</p>

<p>
  <strong>Address:</strong><br>
  <%= @event.street %><br>
  <%= @event.city %>,
  <%= @event.state %>
  <%= @event.postal_code %>
  <%= @event.country %>
</p>

<p>
  <strong>Volunteers needed:</strong><br>
  <%= @event.volunteers_needed %>
</p>

<button type="button">Volunteer!</button>

<%= link_to 'Edit', edit_event_path(@event), class: "btn btn-xs btn-info" %> |
<%= link_to 'Back', events_path %>
