<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Cause:</strong>
  <%= @event.cause %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time.strftime("%b %e, %Y %l:%M %p") %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time.strftime("%b %e, %Y %l:%M %p") %>
</p>

<p>
  <strong>Street:</strong>
  <%= @event.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @event.postal_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @event.country %>
</p>

<p>
  <strong>Volunteers needed:</strong>
  <%= @event.volunteers_needed %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
