<h1>
  <strong><%= @event.name %></strong>
</h1><hr>

<p>
  <strong>Organization: <br></strong>
  <%= @event.organization.name %>
</p>

<p>
  <strong>Description:</strong><br>
  <%= @event.description %>
</p>

<p>
  <strong>Cause:</strong><br>
  <%= @event.cause %>
</p>

<p>
  <strong>Date and Time:</strong><br>
  <%= @event.start_time.strftime("%b %e, %Y ") %><br>
  <%= @event.start_time.strftime("%l:%M %p") %> -
  <%= @event.end_time.strftime("%l:%M %p") %>
</p>

<p>
  <strong>Address:</strong><br>
  <%= @event.street %><br>
  <%= @event.city %>,
  <%= @event.state %>
  <%= @event.postal_code %>
  <%= @event.country %>
</p>

<p>
  <strong>Spots Remaining:</strong><br>
   <%= "#{@event.remaining_vol} out of #{@event.volunteers_needed}" %>
</p>


<% if user_signed_in? && !current_user.events.all.include?(Event.find(@event.id)) && (@event.remaining_vol > 0) %>
  <%= button_to "Volunteer!", event_add_user_path(@event.id), class: "btn btn-primary btn-sm"%>
<% else %>
  <%= button_to "Volunteer!", {}, disabled: true, class: "btn btn-primary btn-sm" %>
<% end %>
<br />

<% if user_organization.user == current_user %>
<%= link_to 'Edit', edit_event_path(@event), class: "btn btn-xs btn-info" %>|
<% end %>
<%= link_to 'Back', events_path, class: "btn btn-xs btn-info" %>
