<div class="signup">
<h2>Log in</h2>
<div class="devise-box">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field" id="remember-box">
        <%= f.check_box :remember_me, style: "display: inline-block;" %>
        <%= f.label :remember_me, style: "display: inline-block;" %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-sm btn-login" %>
    </div>
  <% end %>
  <div class="loginlinks">
  <%= render "devise/shared/links" %>
</div>
</div>
</div>
