<div id="filterrific_results">
<div class="align-right page-entries"><%= page_entries_info @organizations %></div><br>

<table class="table table-hover org-index-table">
  <thead>
    <tr>
      <th>Organization</th>
      <th>About</th>
      <th>Contact Info</th>
      <th>Organizers</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody class="org-tbody">
    <% @organizations.each do |organization| %>
      <tr>

        <td>
          <strong><%= link_to organization.name, organization%></strong><br>
          <p class="org-index-img"><%= link_to image_tag(organization.image.url(:med)), organization_path(organization.id) %></p>
        </td>
        <td>
          <p id="org-desc"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <%= organization.description %></p>

        </td>
        <td>
          <p><i class="fa fa-phone" aria-hidden="true"></i> <%= organization.phone%></p>
          <p><i class="fa fa-envelope" aria-hidden="true"></i><%= mail_to organization.email, organization.email %></p>
          <p><i class="fa fa-globe" aria-hidden="true"></i><%= link_to organization.website, "http://#{organization.website}" %></p>
          <p style="padding-left: 25%">
          <% if !organization.twitter.nil? %>
            <a href="http://<%= organization.twitter %>"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
          <% end %>
          <% if !organization.facebook.nil? %>
            <a href="http://<%= organization.facebook %>"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
          <% end %>
          </p>
        </td>
        <td>
          <% organization.users.each do |user| %>
          <div class="user-box">
            <div><%= link_to image_tag(user.image.url(:small)), user_path(user) %></div>
          <div class="user-name"><%= user.name.split(" ")[0] %></div>
          </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row buttons-below-table">
  <div class="pull-left">
    <% if user_signed_in? %>
      <%= link_to new_organization_path, class: "btn btn-sm btn-primary" do %>
        <i class="fa fa-plus" aria-hidden="true"></i> New Organization
        <% end %>
    <% end %>
  </div>
  <div class="pull-right">
    <%= paginate @organizations, remote: true %>
  </div>
</div>




</div>
