<p class="remove"><%= flash[:remove] %></p>
<h1>Dashboard</h1>
<% @all_orgs.each do |org| %>
  <div class="organizer">
  <table class="table table-condensed" id="org-dash">
    <caption>
      <h2><%= link_to org.name, organization_path(org.id) %></h2>
      <%= link_to "Edit", edit_organization_path(org.id), class: "btn btn-info btn-xs" %>
      <%= link_to "Delete", "/organizations/" + org.id.to_s, method: :delete, class: "btn btn-danger btn-xs"%>
    </caption>
    <tr>
      <th>User</th>
      <th>E-mail</th>
      <th>Status</th>
      <th></th>
    </tr>
      <% org.users.all.each do |user| %>
    <tr class="organizer">
        <td><%= link_to user.name, user_path(user.id) %></td>
        <td><%= user.email %></td>
        <td>
          <% if user.user_organizations.all.find_by(organization_id: org.id).is_creator %>
            <%= "Creator" %>
          <% else %>
            <%= "Organizer" %>
          <% end %>
        </td>
        <% if current_user.user_organizations.all.find_by(organization: org.id).is_creator %>
        <td>
          <% if !user.user_organizations.all.find_by(organization_id: org.id).is_creator %>
            <%= button_to "X", organization_remove_organizer_path(org.id) + "?user=" + user.id.to_s,
              class: "btn btn-danger btn-xs"%>
          <% end %>
        </td>
        <% end %>
    </tr>
    <% end %>
  </table>
</div>

  <div class="volunteer">
  <table class="table">
    <tr>
      <th>Event</th>
      <th>Date And Time</th>
      <th>Location</th>
      <th></th>
    </tr>
    <% org.events.all.each_with_index do |event, index| %>
      <tr>
        <td>
          <%= link_to event.name, event_path(event.id) %>
        </td>
        <td>
          <%= event.start_time.strftime("%b %e, %Y")%><br>
          <%= event.start_time.strftime("%l:%M %p") %> -
          <%= event.end_time.strftime("%l:%M %p") %><br>
        </td>
        <td>
          <%= event.street %> <br>
          <%= "#{event.city}, #{event.state} #{event.postal_code} #{event.country}" %>
        </td>
        <td>
          <%= link_to "Volunteer List", "##{org.name.split(" ").join("")}-modal#{index.to_s}",
            "data-toggle" => "modal", class: "btn btn-info" %>
          <div class="modal fade" id="<%= "#{org.name.split(" ").join("")}-modal#{index.to_s}" %>" role="dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <h5>Volunteers</h5>
                  <button type="button" class="btn btn-default modal-exit" data-dismiss="modal">X</button>
              </div>
              <table align="center" class="table table-condensed modal-table">
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>E-mail</th>
                </tr>
                <% event.users.all.each do |user| %>
                  <tr>
                    <td><div class="image-placeholder"></div></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td>
                      <%= button_to "X",
                    organization_remove_volunteer_path(org.id) + "?user=" + user.id.to_s + "&event=" + event.id.to_s,
                    class: "btn btn-danger btn-xs"
                    %>
                    </td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<% end %>
