<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <span class="breadcrumb-item active"> / Organizations</span>
</nav>

<h1>Organizations</h1>
<br>

<div class="well">
  <div class="row">
    <%= form_for_filterrific @filterrific do |f| %>
      <div class="col-md-3">
        <div class="inner-addon left-addon">
          <i class="glyphicon glyphicon-search"></i>
          <span class="glyphicon glyphicon-search"></span>
          <%= f.text_field(
            :search_query, placeholder: "Search organizations",
            class: 'filterrific-periodically-observed'
          ) %>
        </div>
      </div>
      <div class="col-lg-3">
        <%= f.submit 'Search', class: "btn btn-primary btm-sm" %>
      </div>
    <% end %>
  </div>
</div>
<!-- Pagination -->
<%= render(
  partial: 'organizations/org_list',
  locals: { organizations: @organizations }
) %>
<br>

<% if user_signed_in? %>
  <%= link_to 'New Organization', new_organization_path, class: "btn btn-sm btn-primary" %>
<% end %>
