<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <span class="breadcrumb-item active"> / Organizations</span>
</nav>

<div class="row">
  <p id="success"><%= notice %></p>
  <p id="success"><%= success %></p>
</div>

<h1>ORGANIZATIONS</h1>
<br>

<!-- Pagination -->
<%= paginate @organizations %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Organization Info</th>
      <th>Organizers</th>
      <th>Contact</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td>
          <strong><%= link_to organization.name, organization%></strong><br><br>
          <%= organization.description %><br><br>
        </td>
        <td>
          <% organization.users.each do |user| %>
          <%= user.name %><br>
          <% end %>
        </td>
        <td>
          Phone: <%= organization.phone %><br>
          Email: <%= organization.email %><br>
          Web: <%= organization.website %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Pagination -->
<%= paginate @organizations%>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Organization', new_organization_path, class: "btn btn-sm btn-primary" %>
<% end %>
