<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <a class="breadcrumb-item" href="/organizations"> / Organizations</a>
  <span class="breadcrumb-item active"> / <%= @organization.name %></span>
</nav>

<!-- Title Container -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <div id="org-name"><%= @organization.name %></div>
      </h1>
    </div>
  </div> <!--end row -->
</div> <!--end title container -->

<hr>

<!-- Info Container -->
<div class="container-fluid">
  <div class="row section-box">
    <!-- image column -->
    <div class="col-md-6 vertical-align text-center">
      <%= image_tag(@organization.image.url(:large), class: 'img-responsive center-block') %>
    </div>
    <!-- info column -->
    <div class="col-md-6">
      <h5>Description</h5>
      <div class="text-area">
        <p class="description"><%= @organization.description %></p>
      </div>
      <h5>Phone</h5>
      <div class="text-area">
        <p><%= @organization.phone %></p>
      </div>

      <h5>Email</h5>
      <div class="text-area">
        <p><%= mail_to @organization.email, @organization.email %></p>
      </div>

      <h5>Website</h5>
      <div class="text-area">
        <p><%= link_to @organization.website, "http://#{@organization.website}" %></p>

        <% if !@organization.twitter.nil? && !@organization.facebook.nil? %>
        <p class="org-social-media">
          <a href="<%= @organization.twitter %>"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
          <a href="<%= @organization.facebook %>"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
        </p>
        <% end %>
      </div><br>
    </div>
    <!-- organizers column -->
  </div> <!-- end section -->
</div> <!-- end info container -->

<br>

<div class="container-fluid"> <!-- organizer and event container -->
  <div class="row section-box">
    <!-- organizer column -->
    <div class="col-md-6 org-notice">
      <h5><%= link_to "Organizers" %></h5>
      <p id="organizer-list">
        <% @organization.users.sort.each do |organizer| %>
          <div class="user-box">
            <div class="user-thumb">
              <%= image_tag(organizer.image.url(:small)) %>
            </div>
          <%= link_to organizer.name, user_path(organizer) %><br>
          <%= organizer.email %><br></div>
        <% end %>
      </p>
      <% if user_signed_in? && !current_user.organizations.include?(@organization) %>
        <%= button_to "Join!", organization_add_user_path(@organization.id), class: "btn btn-primary btn-lg"%><br>
      <% elsif user_signed_in? && current_user.organizations.include?(@organization) %>
        <p>You've already joined! <span class="glyphicon glyphicon-thumbs-up"></span></p>
      <% else %>
        <p><%= link_to "Sign In to Join!", new_user_session_path, class: "btn btn-info" %></p>
      <% end %>
    </div>
    <!-- events column -->
    <div class="col-md-6">
      <h5><%= link_to "Events", events_path %></h5>
      <p id="events-list">
        <% @organization.events.each do |event| %>
          <div class="event-box">
            <div class="row">
              <div class="col-sm-5">
              <!-- <div class="image-placeholder"></div> -->
                <p><%= link_to event.name, event_path(event) %><br><br>
                <%= event.description %></p>
              </div>

              <div class="col-sm-7">
                <p><span class="glyphicon glyphicon-time"></span> <%= event.start_time.strftime("%b %e, %Y ") %><br>
                <%= event.start_time.strftime("%l:%M %p") %> - <%= event.end_time.strftime("%l:%M %p") %><br><br>
                <span class="glyphicon glyphicon-map-marker"></span> <%= event.street %> <br>
                <%= "#{event.city}, #{event.state} #{event.postal_code} #{event.country}" %><br><br>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </p>
    </div>
  </div>
</div> <!-- end organizer and event container -->

<br>

<% if @ability.can? :manage, @organization %>
  <%= link_to 'Edit', edit_organization_path(@organization), class: "btn btn-sm btn-info"%>
<% end %>

<!-- <%= link_to 'Back', organizations_path, class: "btn btn-xs btn-info" %> -->
