<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <a class="breadcrumb-item" href="/organizations"> / Organizations</a>
  <span class="breadcrumb-item active"> / <%= @organization.name %></span>
</nav>

<!-- Title Container -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <div id="org-name"><%= @organization.name %></div>
      </h1>
    </div>
  </div> <!--end row -->
</div> <!--end title container -->

<hr>

<!-- Info Container -->
<div class="container-fluid">
  <div class="row row-tall section-box">
    <!-- image column -->
    <div class="col-md-6 vertical-align text-center">
      <%= image_tag(@organization.image.url(:large), class: 'img-responsive center-block') %>
    </div>
    <!-- info column -->
    <div class="col-md-6">
      <h5><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Description</h5>
      <div class="text-area">
        <p class="description"><%= @organization.description %></p>
      </div>
      <h5><i class="fa fa-phone" aria-hidden="true"></i> Phone</h5>
      <div class="text-area">
        <p><%= @organization.phone %></p>
      </div>

      <h5><i class="fa fa-envelope" aria-hidden="true"></i> Email</h5>
      <div class="text-area">
        <p><%= mail_to @organization.email, @organization.email %></p>
      </div>

      <h5><i class="fa fa-globe" aria-hidden="true"></i> Website</h5>
      <div class="text-area">
        <p><%= link_to @organization.website, "http://#{@organization.website}" %></p>

        <% if !@organization.twitter.nil?%>
          <a href="http://<%= @organization.twitter %>"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <% end %>

        <% if !@organization.facebook.nil? %>
          <a href="http://<%= @organization.facebook %>"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
        <% end %>
      </div><br>
    </div>
    <!-- organizers column -->
  </div> <!-- end section -->
</div> <!-- end info container -->

<br>

<div class="container-fluid"> <!-- organizer and event container -->
  <div class="row section-box">
    <!-- organizer column -->
    <div class="col-md-6 org-notice">
      <h5><%= link_to "Organizers" %></h5>
      <p id="organizer-list">
        <% @organization.users.sort.each do |organizer| %>
          <div class="user-box">
            <div>
              <%= image_tag(organizer.image.url(:small)) %>
            </div>
            <div class="user-name"><%= organizer.name.split(" ")[0] %></div>
          </div>
        <% end %>
      </p>
      <% if user_signed_in? && !current_user.organizations.include?(@organization) %>
        <%= button_to "Join!", organization_add_user_path(@organization.id), class: "btn btn-primary btn-lg"%><br>
      <% elsif user_signed_in? && current_user.organizations.include?(@organization) %>
        <p>You've already joined! <span class="glyphicon glyphicon-thumbs-up"></span></p>
      <% else %>
        <p><%= link_to "Sign In to Join!", new_user_session_path, class: "btn btn-info" %></p>
      <% end %>
      <br>
      <div class="calendartitle"><h2>Upcoming Events:</h2></div>
      <div id="orgcalendar"></div>
      <input id="organization_id" type="hidden" value="<%= @organization.id %>"/>
    </div>

    <!-- events column -->
    <div class="col-md-6">
      <h5><%= link_to "Events", events_path %></h5>
      <%= render(
        partial: 'organizations/list',
        locals: { events: @events }
      ) %>
    </div>
  </div>
</div> <!-- end organizer and event container -->

<br>

<% if @ability.can? :manage, @organization %>
  <%= link_to 'Edit Organization', edit_organization_path(@organization), class: "btn btn-sm btn-info"%>
<% end %>

<!-- <%= link_to 'Back', organizations_path, class: "btn btn-xs btn-info" %> -->
