<h3>
  <strong><%= @organization.name %></strong>
</h3><hr>

<p>
  <strong>Description:</strong><br>
  <%= @organization.description %>
</p>

<p>
  <strong>Phone:</strong><br>
  <%= @organization.phone %>
</p>

<p>
  <strong>Email:</strong><br>
  <%= @organization.email %>
</p>

<p>
  <strong>Website:</strong><br>
  <%= @organization.website %>
</p>

<%= button_to "Join!", organization_add_user_path(@organization.id), class: "btn btn-primary btn-sm"%>

<%= link_to 'Edit', edit_organization_path(@organization), class: "btn btn-xs btn-info" %> |
<%= link_to 'Back', organizations_path %>
